<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_name %>
    <%= f.text_field :team_name %>
  </div>

  <div class="field">
    <%= f.label :team_members %>
    <%= f.text_area :team_members %>
  </div>

  <div class="field">
    <%= f.label :team_manager %>
    <%= f.text_field :team_manager %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
