<p id="notice"><%= notice %></p>

<p>
  <strong>Team name:</strong>
  <%= @team.team_name %>
</p>

<p>
  <strong>Team members:</strong>
  <%= @team.team_members %>
</p>

<p>
  <strong>Team manager:</strong>
  <%= @team.team_manager %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
